<form action="{{ url_for("upload") }}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <div class="file-input">
            <div class="btn btn-primary btn-file" tabindex="500">
                <i class="glyphicon glyphicon-folder-open"></i>
                &nbsp;Выбрать…
                <input class="" name="upload_name" type="file">
            </div>

            {# Upload #}
            <button class="btn btn-default fileinput-upload fileinput-upload-button" type="submit"
                    title="Upload selected files" tabindex="500">

                <i class="glyphicon glyphicon-upload"></i>&nbsp;Загрузить файл
            </button>
        </div>
    </div>
</form>
