{% extends "main.html" %}

{% block content %}
    <style>
        .bold {
            font-weight: bold;
        }
        .text-help {
            font-style: italic;
        }
    </style>

    <div class="text-right" style="margin-top: 20px">
        {% include "partials/upload_file.html" %}
    </div>

    <h3>Загруженные файлы на сервер.</h3>
    <h5 class="text-help">Разрешенные расширения файлов для загрузки: {{ allowed_file_ext|join(', ') }}</h5>

    {# Вывод сообщений (ошибки) #}
    {% with errors = get_flashed_messages(category_filter=["errors"]) %}
        {% if errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in errors %}
                    {% for field in error %}
                        <div>{{ field }}</div>
                        {# Вывод сообщения об ошибке #}
                        {% for me in error[field] %}
                            <div>{{ me }}</div>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% with messages = get_flashed_messages(category_filter=["message"]) %}
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                    {# Вывод сообщения #}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Тип</th>
                <th>Размер</th>
                <th>Дата загрузки</th>
            </tr>
        </thead>
        <tbody>
            {# Перебор загруженных файлов на сервер #}
            {% for file in uploaded_files %}
                <tr>
                    <td>
                        <a class="file-name bold" href="{{ file.link2file() }}" target="_blank">{{ file.name }}</a>
                    </td>
                    <td>{{ file.type }}</td>
                    <td>
                        {% if file.size < 1024 %}
                            <span class="bold" style="color: #03A9F4">{{ file.size }} Байт</span>

                        {% elif file.size < 1024 ** 2 %}
                            <span class="bold" style="color: #4CAF50">{{ (file.size / (1024))|round(2, 'floor') }} КБ</span>

                        {% elif file.size < 1024 ** 3 %}
                            <span class="bold" style="color: #FF9800">{{ (file.size / (1024 ** 2))|round(2, 'floor') }} МБ</span>

                        {% elif file.size < 1024 ** 4 %}
                            <span class="bold" style="color: #FF5722">{{ (file.size / (1024 ** 3))|round(2, 'floor') }} ГБ</span>

                        {% endif %}
                    </td>
                    <td>{{ file.date_upload }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}